:root {
  --primary-bg: #7453f5;
  --main-bg-light: #fff;
  --main-bg-dark: #232c36;
  --card-bg-light: #f3f5f7;
  --card-bg-dark: #293241;
  --text-light: #222;
  --text-dark: #fff;
  --header-dark: #fff;
}


body {
  background: var(--main-bg-light);
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}


.container {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  background: var(--primary-bg);
  color: var(--header-dark);
  box-shadow: 0 4px 24px rgba(0,0,0,0.07);
  overflow: hidden;
  margin: 0 auto; 
  max-width: 420px;
  width: 100vw; 
}

h1 {
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 1.6rem;
  padding: 36px 10px 8px 10px;
  font-weight: 700;
  letter-spacing: 1px;
}


input[type="number"] {
  width: 84px;
  font-size: 2.6rem;
  text-align: center;
  margin: 0 auto 16px auto;
  display: block;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 8px;
  background: #f2eefd;
  color: #7453f5;
  font-weight: bold;
  outline: none;
  box-sizing: border-box;
}

button {
  display: block;
  margin: 0 auto 28px auto;
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  background: #fff;
  color: #7453f5;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 0 1px 6px rgba(0,0,0,0.04);
  cursor: pointer;
  transition: background 0.12s, color 0.12s;
}

#toggle-theme {
  margin-top: 0;
  margin-bottom: 18px;
}


.cardbox {
  background: var(--main-bg-light);
  margin: 0;
  padding: 15px 0 10px 0;
  
}


.result-card {
  background: var(--card-bg-light);
  color: var(--text-light);
  margin: 0 auto 20px auto;
  padding: 20px 14px 12px 14px;
  border-radius: 13px;
  box-shadow: 0 2px 24px rgba(34,44,54,0.10);
  width: 90%;
  max-width: 385px;
  text-align: center;
}

.result-card:last-of-type {
  margin-bottom: 0;
}

.result-card h2 {
  margin: 0 0 10px 0;
  font-size: 1.1rem;
  color: #7453f5;
  text-align: center;
  font-weight: 600;
}

.result-card p {
  margin: 0;
  color: #414141;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.5px;
}


body.dark {
  background: var(--main-bg-dark);
}
body.dark .container {
  background: var(--primary-bg);
  color: var(--header-dark);
}
body.dark .cardbox {
  background: var(--main-bg-dark);
}
body.dark .result-card {
  background: var(--card-bg-dark);
  color: var(--text-dark);
}
body.dark .result-card h2 {
  color: #fff;
}
body.dark .result-card p {
  color: #d6d6d6;
}
body.dark input[type="number"] {
  background: #221864;
  color: #fff;
  border: 2px solid #7453f5;
}
body.dark button {
  background: #fff;
  color: #7453f5;
}
